html {
  position: relative;
}
body {
  position: absolute;
  left: 0;
  top: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $dark;
  color: $light;
  font-family: "Quicksand", sans-serif;
}