:root {
  --darkPrimary: #1d2d50;
  --darkSecondary: #133b5c;
  --lightPrimary: #ffffff;
  --lightSecondary: #f8f8f8;
}

html {
  position: relative;
}
body {
  position: absolute;
  left: 0;
  top: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: var(--lightPrimary);
  font-family: "Quicksand", sans-serif;
}

.green-gradient {
  background: linear-gradient(to top, #1d976c, #48f086);
}
.blue-gradient {
  background: linear-gradient(to top, #2193b0, #6dd5ed);
}
.red-gradient {
  background: linear-gradient(to top, #ff512f, #f09819);
}
.yellow-gradient {
  background: linear-gradient(to top, #ffa751, #f8d422);
}
.purple-gradient {
  background: linear-gradient(to top, #8e54e9, #4776e6);
}
